* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

@font-face {
  font-family: "Outfit";
  src: url(design/Outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "outfit-Light";
  src: url(design/Outfit/static/Outfit-Light.ttf) format("truetype");
}

body {
  font-family: "Outfit", sans-serif;
}
p {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "outfit-Light", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(214, 226, 240, 1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  margin-bottom: 5px;
}
.card h1 {
  font-weight: 700;
}
@media (max-width: 375px) {
  body {
    margin: 0;
  }
  .container {
    padding: 10% 14.5%;
  }
  .card {
    width: 100%;
    padding: 10px;
  }
  .card img {
    width: 100%;
    height: auto;
  }
  h1 {
    font-size: 20px;
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
